<head>
  <title>Bookmark Manager</title>
</head>

<body>
  <div>
    Here are your bookmarks:
  </div>
  <div>
    <ul>
      <% @list.each do |bookmark| %>
        <li><%= bookmark %></li>
      <% end %>
    </ul>
  </div>
    <div>
    Add new bookmarks!
    <form action="/bookmarks/new" method="post">
      <input type="text" name="url" placeholder="Address">
      <input type="submit" name="Submit"> 
    </form>  
  </div>
</body>
